.profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.character-stats {
  flex-grow: 1;
}

.character-section
{
  /* background: #ec4343; */
  color: #e0e0e0;
}

.character-section .character-basestats-row {
  /* background: #83d378; */
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 20% 8% 8% 14% 20%;
  grid-template-rows: repeat(1, 22px);
}

.character-section .character-basestats-row input[type=number], 
.character-section .character-basestats-row input[type=text]
{
  width: 40px;
  height: 20px;
	margin: 0px;
  text-align: center;
}

.character-section .character-calculated-row {
  /* background: #83d378; */
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 20% 8% 8% 8% 16% 20%;
  grid-template-rows: repeat(1, 22px);
}

.character-section .character-calculated-row input[type=number], 
.character-section .character-calculated-row input[type=text]
{
  width: 40px;
  height: 20px;
	margin: 0px;
  text-align: center;
}

progress 
{
  width: auto;
  height: 35px;
  margin: -5px 0px -5px 0px;
  text-align: center;
  align-content: center;
}

progress:after 
{
  content: attr(value)' / ' attr(max);
} 

.rollable 
{
  cursor: pointer;
}

.rollable:hover 
{
  cursor: pointer;
  text-shadow: 0 0 15px rgb(255, 255, 0);
}

.roll-success
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

.roll-fail
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

.roll-critical-success
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

.roll-critical-fail
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

/* Tab navigation */
.sheet-tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

/* Tab content */
.sheet-body {
  overflow: hidden;
}

.PnS2.sheet .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.PnS2.sheet .sheet-body .tab:not(.active) {
  display: none;
}

