.profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.character-stats {
  flex-grow: 1;
}

.character-section
{
  /* background: #ec4343; */
  color: #e0e0e0;
}

.character-profile
{
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 120px 100%;
}
.character-profile-row 
{
  /* background: #83d378; */
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 20% 15% 2% 20% 15%;
  /* grid-template-rows: repeat(1, 22px); */
}

.character-section .character-basestats-row 
{
  /* background: #83d378; */
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 20% 8% 8% 14% 20%;
  grid-template-rows: repeat(1, 22px);
}

.character-section .character-basestats-row input[type=number], 
.character-section .character-basestats-row input[type=text]
{
  width: 40px;
  height: 20px;
	margin: 0px;
  text-align: center;
}

.character-section .character-calculated-row {
  /* background: #83d378; */
  margin-bottom: 3px;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 20% 8% 8% 8% 16% 20%;
  grid-template-rows: repeat(1, 22px);
}

.character-section .character-calculated-row input[type=number], 
.character-section .character-calculated-row input[type=text]
{
  width: 40px;
  height: 20px;
	margin: 0px;
  text-align: center;
}

progress 
{
  width: auto;
  height: 35px;
  margin: -5px 0px -5px 0px;
  text-align: center;
  align-content: center;
}

progress:after 
{
  content: attr(value)' / ' attr(max);
} 

.rollable 
{
  cursor: pointer;
}

.rollable:hover 
{
  cursor: pointer;
  text-shadow: 0 0 15px rgb(255, 255, 0);
}

.roll-success
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

.roll-fail
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

.roll-critical-success
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

.roll-critical-fail
{
  height: 20px;
  margin: auto;
  display: inline-block;
}

/* Tab navigation */
.sheet-tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

/* Tab content */
.sheet-body {
  overflow: hidden;
  width: 100%;
  height: 540px;
  overflow-y: scroll;
  scrollbar-color: #FFFFFF;
}

.PnS2.sheet .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.PnS2.sheet .sheet-body .tab:not(.active) {
  display: none;
}

/* Talents Tab */
.talents-header {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 1fr 20px;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.talents-row {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 1fr 20px;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.talents-row input {
  width: 50px;
  text-align: center;
  height: 20px;
}

.talents-delete {
  text-align: center;
  color: #a00;
  cursor: pointer;
}

.talents-delete:hover {
  color: #F00;
}

.add-talent-button {
  margin-top: 10px;
  text-align: left;
}

.add-talent {
  cursor: pointer;
}

.add-talent:hover {
  text-shadow: 0 0 15px rgb(255, 255, 0);
}

.dialog .form-group {
  margin-bottom: 10px;
}

.dialog .form-group label 
{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-talent-form
{
  width: 300px;
}

.pns2-add-talent-dialog.application.dialog {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.pns2-add-talent-dialog.application.dialog .window-content {
  width: 300px;
  min-width: 300px;
  box-sizing: border-box;
}

.pns2-add-talent-dialog.application.dialog .window-content .dialog-form {
  width: 100%;
  box-sizing: border-box;
}