.profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.character-stats {
  flex-grow: 1;
}

.character-section
{
  /* background: #ec4343; */
  color: #e0e0e0;
}

.character-section .character-row {
  /* background: #83d378; */
  margin-bottom: 0.5rem;
  display: grid;
  align-items: center;
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(4, 10%); */
  grid-template-columns: 20% 8% 8% 20%;
  grid-template-rows: repeat(1, 24px);
}

.character-section .character-row2 {
  background: #9878d3;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.character-section .character-row input[type=number],
.character-section .character-row input[type=text]
{
  width: 40px;
  height: 20px;
	margin: 0px;
  text-align: center;
}

progress 
{
  width: auto;
  height: 35px;
  margin: -5px 0px -5px 0px;
  text-align: center;
  align-content: center;
}

progress:after {
  content: attr(value)' / ' attr(max);
} 

/*
.barLeft {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right-width: 0px
}

.barLeft .bar {
	right: calc(100%*(1 - var(--a)/var(--b)));
	width: calc(100%*var(--a)/var(--b))
}

.bar {
	height: 20px;
	width: 100%;
	box-shadow: inset 0 0 10px #fff;
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	transition: width .1s ease-in-out
}

.soloBar {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right-width: 1px
}

.barLabel {
	height: 20px;
	padding: 1px;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
	position: relative;
	z-index: 1;
	text-shadow: 0px 1px 3px #000;
}

.barLabel input {
	height: 20px;
	line-height: 22px;
	width: 30px;
	display: inline-block;
	border: none;
	padding: 0;
	margin: 0;
	color: #000;
	box-shadow: none;
	background: none;
	text-shadow: 0px 1px 3px #000;
	font-size: auto;
	font-size: 0.4rem;
    text-align: center;
}

.barLabel input:focus {
	box-shadow: none
}

.barLabel input:hover {
	background-color: rgba(0, 0, 0, .3)
}

.barLabel span {
	width: 30px;
	display: inline-block	
}

.hp {
	background: #cf0e0e;
	background: linear-gradient(90deg, rgb(240, 14, 14) 0%, rgb(115, 7, 7) 100%)
}

.ep {
	background: #0ecf38;
	background: linear-gradient(90deg, rgb(52, 240, 14) 0%, rgb(7, 115, 16) 100%)
}

.sp {
	background: #a20ecf;
	background: linear-gradient(90deg, rgb(168, 14, 240) 0%, rgb(75, 7, 115) 100%)
}

.kp {
	background: #cf6b0e;
	background: linear-gradient(90deg, rgb(240, 150, 14) 0%, rgb(115, 77, 7) 100%)
}

.mp {
	background: #380ecf;
	background: linear-gradient(90deg, rgb(29, 14, 240) 0%, rgb(7, 9, 115) 100%)
}

<!-- HP Area -->
            <div></div>
            <div class="calculatedAttributesHeader" data-tooltip="{{localize 'PnS.HitPoints'}}">{{localize 'PnS.HP'}}</div>
            <div class="calculatedAttributesHeader">
              <div class="healthbar barLeft soloBar" data-tooltip="{{localize 'PnS.HitPoints'}}">
                <div class="bar hp" style="--a: {{data.system.attribs.hp.value}}; --b: {{data.system.attribs.hp.max}};"></div>
                <div class="barLabel">
                    <input type="number" name="system.attribs.hp.value" data-dtype="Number" value="{{data.system.attribs.hp.value}}" /> /
                    <input type="number" name="system.attribs.hp.max" data-dtype="Number" value="{{data.system.attribs.hp.max}}" />
                    <!--span data-tooltip="max">{{data.system.attribs.hp.max}}</span-->
                </div>
              </div>
            </div>
            <div></div>

*/

